<div class="row">
 <% @events.each do |event| %>

    <div class="col-md-4" style="height:200px;"> 
      <div class="panel panel-info">

        <!--div class="bg-info"--> 
        <div class="panel-heading">
          <h5 class="panel-title"><%= event.name %> </h5>
        </div>
        <div class="panel-body">
            <p><%= event.info %></p>
            <p><%= event.start_at %></p>
        </div>
        <div class="panel-footer">
          <%= link_to 'Show', "/events/#{event.key}" %>
        </div>
      </div>
    </div>
<% end %>
</div> 



